:global(.ant-tooltip-inner .font-icon) {
  margin-right: 8px;
}

.side-menu {
  :global(.font-icon) {
    margin-right: 8px;
  }
  :global(.ant-menu-dark) {
    background: #001529;

  }
  :global(.ant-menu-dark .ant-menu-sub) {
    background: #000c17;
  }
  .menu-text {
    transition: all 300ms;
  }
}